html, body {
    text-align: center;
}

body.loading > * {
    visibility: hidden;
}

.box-presenter {
    position: absolute;
    top: 100px;
}

#latest-video {
    border: 10px solid #d982d9;
    background-color: white;
}

@media (min-width: 900px) {
    .box-presenter {
        top: 120px;
    }

    #latest-video {
        width: 480px;
        height: 320px;
    }

    #latest-video {
        border-width: 10px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .box-presenter {
        top: 100px;
    }

    #latest-video {
        width: 320px;
        height: 214px;
        border-width: 8px;
    }
}

@media (max-width: 600px) {
    .box-presenter {
        top: 90px;
    }

    #latest-video {
        width: 170px;
        height: 113px;
        border-width: 5px;
    }
}

a.envelope {
    height: 60px;
    display: inline-block;
    position: relative;
    margin-top: 10px;
    padding: 0 0 0 60px;
    cursor: pointer;
}

a.envelope label {
    display: inline-block;
    background-color: white;
    padding: 0 10px;
    margin-top: 7px;
    height: 45px;
    line-height: 45px;

    transition: margin-left 0.5s;

    font-size: 20px;
    color: #555;

    /* Needed for z-index. */
    position: relative;

    /* Don't take the curser. */
    pointer-events: none;
}

a.envelope:hover label {
    margin-left: 40px;
}

a.envelope label::after {
    content: ' ';
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    top: 10px;
    /* Raw file at svg/arrow.svg */
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiID8+CjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOCAxOCI+CiAgICA8cGF0aCBkPSJNNCw4IGgxMyBtLTUsLTUgbDUsNSBsLTUsNSIgc3Ryb2tlPSIjNTU1IiBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9IjEuNSIgLz4KPC9zdmc+Cg==');
}

a.envelope::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 60px;
    /* Raw file at svg/envelope_bottom.svg */
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiID8+CjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAyMCI+CiAgICA8cGF0aCBkPSJNMCwwIGgyNSB2MjAgaC0yNSB6IiBmaWxsPSIjZGRkIiAvPgogICAgPHBhdGggZD0iTTAsMSBoMjUgbTAsMyBoLTI1IG0wLDMgaDI1IG0wLDMgaC0yNSBtMCwzIGgyNSBtMCwzIGgtMjUgbTAsMyBoMjUiCiAgICAgICAgICBzdHJva2U9IiNlZWUiIGZpbGw9Im5vbmUiIC8+CiAgICA8cGF0aCBkPSJNMjUsMCBsNSwzIHYxNCBsLTUsMyB6IE0yOC41LDEwIGExLDEgMCAxIDAgMCAwLjAwMDEgeiIgZmlsbD0iI2VmYWU2MSIgLz4KPC9zdmc+Cg==');
    background-size: 100% 100%;
}

a.envelope::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 60px;
    /* Raw file at svg/envelope_top.svg */
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiID8+CjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAyMCI+CiAgICA8cGF0aCBkPSJNMCwwIGgyNSBsLTUsMTAgbDUsMTAgaC0yNSB6IiBmaWxsPSIjZWZhZTYxIiAvPgogICAgPHBhdGggZD0iTTE4LDYgaDAuNSB2MyBsLTAuNSwxIGwwLjUsMSB2MyBoLTEgdi0zIGwwLjUsLTEgbC0wLjUsLTEgdi0zIHoiIGZpbGw9IiNkZGQiIC8+Cjwvc3ZnPgo=');
    background-size: 100% 100%;
}
