html, body {
    margin: 0;
    background-color: #ffdddd;
}

.box-presenter {
    position: absolute;
    top: 20px;
}

#coming-soon {
    box-sizing: border-box;
    background-color: white;
    border: 10px solid #81d8d0;

    text-align: center;
}

@media (min-width: 600px) {
    #coming-soon {
        width: 320px;
        height: 214px;
        font-size: 30px;
        line-height: 194px;
    }
}

@media (max-width: 600px) {
    #coming-soon {
        width: 170px;
        height: 113px;
        font-size: 20px;
        line-height: 93px;
    }
}
