html, body {
    margin: 0;
    background-color: #ffdddd;
}

.box-presenter {
    position: absolute;
    top: 20px;
}

#coming-soon {
    box-sizing: border-box;
    width: 320px;
    height: 214px;

    background-color: white;
    border: 10px solid #81d8d0;

    font-size: 30px;
    text-align: center;
    line-height: 194px;
}
